.content {
  padding: 20px 0;
}

.content a {
  color: #1a0dab;
  text-decoration: none;
  margin-right: 15px;
}

.content a:hover {
  text-decoration: underline;
}

.course-list, .book-list {
  margin-left: 20px;
}

.course, .book {
  margin-bottom: 20px;
}

.course ul, .book ul {
  list-style-type: disc;
}

.course li, .book li {
  font-size: 0.9em;
  color: #000000;
}

.reading-list {
  margin-left: 20px;
} 